.photo-wrap {
  width: 148px;
  height: 148px;
  margin: 0 auto 14px;
  position: relative;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid #fff;

  /* Make hexagon shape */
  clip-path: polygon(
    25% 6%, 75% 6%, 
    100% 50%, 
    75% 94%, 25% 94%, 
    0 50%
  );
}
